body {
    background-color: #F1FAEE; 
    color: #F1FAEE;
}

#title {
    color: #457B9D;
    margin-top: 2em;
    margin-bottom: 2em;
}

.form-container {
    background-color: #1D3557;
    max-width: 650px;
}



