body {
    background-color: #F1FAEE; 
    color: #F1FAEE;
}

#title, #description {
    color: #457B9D;
}

.title-div {
    margin-top: 2em;
    margin-bottom: 1em;
}

.form-container {
    background-color: #1D3557;
    max-width: 650px;
}

legend {
    margin-top: 1.5em;
}



